.container-box table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: start;
}
.container-box table tr {
    height: 40px;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}
.container-box table tr td:nth-child(1) {
    background-color: #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}
.container-box table tr td:nth-child(3) {
    background-color: #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}
.container-box table tr td:nth-child(4) {
    text-align: center;
    border-right: 1px solid #e6e6e6;
}
.container-body {
    height: 300px;
    padding: 20px;
    border: 1px solid #e6e6e6;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer > button {
    margin: 10px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    background-color: white;
}
footer > button:hover {
    background-color: whitesmoke;
}